

#addNewPropertyOuterDiv{

    position:relative;
    /* this is supposed to be display none, for now it is flex, until the button has been programmed*/
    /* display: none; */
    display: none;

}

#cancelAddProperty {
/* button to cancel the add property */
    color: var(--accentColor1);
    background-color: var(--mainContentColor);
    font-size: 1.2em;
    width: 25px;
    Height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#addNewPropertyDiv {

    width: clamp(300px, 70vw, 800px);
    display: flex;  
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid teal; */
}

#openAddPropertyDiv {
   
    margin: 20px auto 0px auto;
}




/* these divs are selected in this way as these divs area created dynamically from their arrays */
.dynamicallyCreatedDiv div:nth-last-of-type(2) { /* this refers to the div that will display in the top right of the property display window in both the search page and view properties page */

    /* border: 2px solid red; */
    position: absolute;
    right: 10px;
    top: 0px;
}
.dynamicallyCreatedDiv div:last-of-type { /* this refers to the div that will display in the bottom right of the property display window in both the search page and view properties page */

    /* border: 2px solid red; */
    position: absolute;
    right: 10px;
    bottom: 10px;
}
/* end of dynamically displayed div custom select */


@media only screen and (max-width: 700px)
{ 

    /* the below 2 elements refer to the divs that will display in the property display window in both the search page and view properties page */
    .dynamicallyCreatedDiv div:nth-last-of-type(2) { /* this position changes allows the items to neatly align in columns for small screens */

        position: static;
    }
    .dynamicallyCreatedDiv div:last-of-type {
    
        position: static;
    }
}